@charset "utf-8";
#canvas2 {
	height:100%;
	width: 50%;
	position: absolute;
	top: 0px;
	background-color: #96F;
	left: 0%;
}
#canvas3 {
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0%;
	background-color: #F33;
	left: 50%;
}
