@charset "utf-8";
#canvas {
	height: 50%;
	width: 33.3%;
	position: absolute;
	top: 0px;
	background-color: #090;
	left: 0px;
}
#canvas2 {
	height: 50%;
	width: 33.3%;
	position: absolute;
	top: 0px;
	background-color: #96F;
	left: 33.3%;
}
#canvas3 {
	height: 50%;
	width: 33.3%;
	position: absolute;
	top: 0px;
	background-color: #F33;
	left: 66.6%;
}
#canvas4 {
	height: 50%;



	width: 33
.%;
	position: absolute;
	top: 50%;
	background-color: #666;
	left: 0px;
	width: 33.3%;
}
#canvas5 {
	height: 50%;
	width: 33.3%;
	position: absolute;
	top: 50%;
	background-color: #06F;
	left: 66.6%;
}
#canvas6 {
	height: 50%;
	width: 33.3%;
	position: absolute;
	top: 50%;
	background-color: #FC3;
	left: 33.3%;
}
#ftp {
	height: 90%;
	width: 46%;
	position: absolute;
	top:4%;
	left: 2%;
	/* opacity:1; */
	z-index: 5;
	border:100px;
	border:solid #999;
	border-radius: 30px;
}
#ya {
	height: 90%;
	width: 46%;
	position: absolute;
	top: 4%;
	left: 52%;
	border:100px;
	border:solid #999;
	border-radius: 30px;
	/* opacity:1; */
	z-index: 5;
}