@charset "utf-8";
#canvas {
	height: 33.3%;
	width: 50%;
	position: absolute;
	top: 0px;
	background-color: rgba(170,175,0,1.00);
	left: 0px;
}
#canvas2 {
	height: 33.3%;
	width: 50%;
	position: absolute;
	top: 0px;
	background-color: #96F;
	left: 50%;
}
#canvas3 {
	height: 33.3%;
	width: 50%;
	position: absolute;
	top: 33.3%;
	background-color: rgba(255,51,51,1.00);
	left: 0px;
}
#canvas4 {
	height: 33.3%;
	width: 50%;
	position: absolute;
	top: 33.3%;
	background-color: #666;
	left: 50%;
}
#canvas5 {
	height: 33.3%;
	width: 50%;
	position: absolute;
	top: 66.6%;
	background-color: #06F;
	left: 0px;
}
#canvas6 {
	height: 33.3%;
	width: 50%;
	position: absolute;
	top: 66.6%;
	background-color: #FC3;
	left: 50%;
}
#ftp {
	height: 90%;
	width: 46%;
	position: absolute;
	top:4%;
	left: 2%;
	/* opacity:1; */
	z-index: 5;
	border:100px;
	border:solid #999;
	border-radius: 30px;
}
#ya {
	height: 90%;
	width: 46%;
	position: absolute;
	top: 4%;
	left: 52%;
	border:100px;
	border:solid #999;
	border-radius: 30px;
	/* opacity:1; */
	z-index: 5;
}
