@charset "utf-8";
#canvas2 {
	height: 50%;
	width: 100%;
	position: absolute;
	top:0%;
	background-color: #96F;
	left: 0%;
}
#canvas3 {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 50%;
	background-color: #F33;
	left: 0%;
}